<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.geny.ori.mapper.CtSerialMesMapper">
  <resultMap id="BaseResultMap" type="cn.geny.ori.model.CtSerialMes">
    <!--@mbg.generated-->
    <!--@Table CT_SERIAL_MES-->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="FACILITY" jdbcType="VARCHAR" property="facility" />
    <result column="DEPARTMENT" jdbcType="VARCHAR" property="department" />
    <result column="WORKSHOP" jdbcType="VARCHAR" property="workshop" />
    <result column="RULENO" jdbcType="VARCHAR" property="ruleno" />
    <result column="FIXEDVALUE" jdbcType="VARCHAR" property="fixedvalue" />
    <result column="TEMPLATENO" jdbcType="VARCHAR" property="templateno" />
    <result column="FUID" jdbcType="VARCHAR" property="fuid" />
    <result column="TEXTID" jdbcType="DECIMAL" property="textid" />
    <result column="REFERENCEID" jdbcType="DECIMAL" property="referenceid" />
    <result column="LASTUPDATEON" jdbcType="TIMESTAMP" property="lastupdateon" />
    <result column="LASTUPDATEDBY" jdbcType="VARCHAR" property="lastupdatedby" />
    <result column="CREATEDON" jdbcType="TIMESTAMP" property="createdon" />
    <result column="CREATEDBY" jdbcType="VARCHAR" property="createdby" />
    <result column="ACTIVE" jdbcType="DECIMAL" property="active" />
    <result column="LASTDELETEON" jdbcType="TIMESTAMP" property="lastdeleteon" />
    <result column="LASTDELETEDBY" jdbcType="VARCHAR" property="lastdeletedby" />
    <result column="LASTREACTIVATEON" jdbcType="TIMESTAMP" property="lastreactivateon" />
    <result column="LASTREACTIVATEDBY" jdbcType="VARCHAR" property="lastreactivatedby" />
    <result column="ARCHIVEID" jdbcType="DECIMAL" property="archiveid" />
    <result column="LASTARCHIVEON" jdbcType="TIMESTAMP" property="lastarchiveon" />
    <result column="LASTARCHIVEDBY" jdbcType="VARCHAR" property="lastarchivedby" />
    <result column="LASTRESTOREON" jdbcType="TIMESTAMP" property="lastrestoreon" />
    <result column="LASTRESTOREDBY" jdbcType="VARCHAR" property="lastrestoredby" />
    <result column="ROWVERSIONSTAMP" jdbcType="DECIMAL" property="rowversionstamp" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, FACILITY, DEPARTMENT, WORKSHOP, RULENO, FIXEDVALUE, TEMPLATENO, FUID, TEXTID, 
    REFERENCEID, LASTUPDATEON, LASTUPDATEDBY, CREATEDON, CREATEDBY, ACTIVE, LASTDELETEON, 
    LASTDELETEDBY, LASTREACTIVATEON, LASTREACTIVATEDBY, ARCHIVEID, LASTARCHIVEON, LASTARCHIVEDBY, 
    LASTRESTOREON, LASTRESTOREDBY, ROWVERSIONSTAMP
  </sql>
</mapper>